# Ignore all by default
*

# Allow Markdown files
!*.md

# Allow license files
!LICENSE

# Allow git files
!.gitignore
!.gitattributes

# Allow GitHub files
!.github/
!.github/**
!.github/**/*.yml
!.github/**/*.yaml

# Allow Docker files
!docker/
!docker/**/*
